*.o
.dirstamp
/cc-tool

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.report
/config.status
/config.sub
/configure
/missing
/install-sh
/libtool
/ltmain.sh
/compile
/m4/libtool.m4
/m4/lt*.m4
